:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #240046;
}

html, body {
  /*scroll-behavior: smooth;*/
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: auto;
  width: 80%;
  margin: 0 auto;
  background-color: #3c096c;
  border-radius: 15px;
  color: #fff
}

.container .aside-container {
  margin: 10px;
  padding: 5px;
  width: 300px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10002b;
  border-radius: 15px;
}

.container .aside-container img {
  width: 100%;
  height: auto;
}

.container .section-container {
  margin: 10px;
  padding: 5px;
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .aside-container .img-container {
  border-radius: 20px;
}

/* Separator.css */
.separator-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.separator-line {
  border: 0;
  border-top: 2px solid #e0aaff;
  flex-grow: 1;
}

.separator-title {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #e0aaff;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item {
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: #5a189a;
  color: #fff;
}

.icon-list {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.text-content {
  flex: 1;
  overflow: hidden;
}

.text-content h2 {
  font-size: 1rem;
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hobbies-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.skill-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.close-button{
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #5a189a;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.close-button:hover {
  background-color: #9d4edd;
}

.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1c1c1e;
  color: #fff;
}

.contact-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.contact-name {
  font-size: 1rem;
  color: #fff;
  margin: 0;
  text-align: left;
}

.contact-info {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin: 20px auto; 
}

.contact-info p {
  font-size: 16px;
}


.contact-button {
  margin: 10px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #5a189a;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.contact-button:hover {
  background-color: #9d4edd;
}



/* Styles for the navigation menu */
.navbar {
  background-color: #10002b; /* Dark background color */
  padding: 10px; /* Add some padding */
  text-align: center; /* Center the links */
  border-radius: 10px;
  position: fixed; /* Fixes the navbar to the top of the page */
  top: 0; /* Position at the top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

/* Adjusts the space for the content below the navbar */
.app-container {
  margin-top: 60px; /* Adjust this value to the height of the navbar */
  overflow-y: auto;
  height: 100vh;
}

.navbar-links {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline; /* Display links in a line */
  margin-right: 20px; /* Space between links */
}

.navbar-links li:last-child {
  margin-right: 0; /* No space after the last link */
}

.navbar-links a {
  text-decoration: none; /* Remove underline */
  color: #f2f2f2; /* Light text color */
  font-size: 18px; /* Increase font size */
  font-weight: bold; /* Bold text */
  padding: 10px 15px; /* Add padding */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-links a:hover {
  background-color: #9d4edd; /* Darker background on hover */
}

.navbar-links a.active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .container .aside-container {
    width: 100%;
    margin: 0;
  }

  .container .section-container {
    width: 100%;
  }

  .list-container {
    flex-direction: column;
    align-items: center;
  }

  .list-item {
    width: 90%;
    margin: 10px 0;
  }

  .navbar {
    position: fixed; /* Fixes the navbar to the top of the page */
    top: 0; /* Position at the top */
    left: 0;
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays on top of other content */
  }

  .app-container {
    margin-top: 60px; /* Adjust this value to the height of the navbar */
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-links {
    display: none; /* Hide links by default */
    flex-direction: column; /* Stack links vertically */
    width: 100%; /* Full width */
    background-color: #10002b; /* Same background as navbar */
    position: absolute; /* Position relative to navbar */
    top: 50px; /* Position below navbar */
    left: 0;
    padding: 0;
    margin: 0;
  }

  .navbar-links li {
    display: block; /* Display links as block */
    margin: 10px 0; /* Space between links */
  }

  .navbar-links a {
    display: block; /* Make links full width */
    text-align: center; /* Center text */
    padding: 10px; /* Add padding */
  }

  .navbar-links a:hover {
    background-color: #9d4edd; /* Darker background on hover */
  }

  .navbar.active .navbar-links {
    display: flex; /* Show links when navbar is active */
  }

  .menu-toggle {
    display: block; /* Show menu toggle button */
    font-size: 24px; /* Larger font size */
    cursor: pointer; /* Pointer cursor */
    color: #f2f2f2; /* Light text color */
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

.note-text {
  font-size: 0.8em;
  color: #C2C2C2;
  margin: 10px;
  text-align: center;
}
